*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
/src/test
/src/androidTest
app/app-prodcopy-release.apk
app/app-release_tes_22_02_2017.apk
app/bahasoKeyStore.jks
app/google-services.json
app/google-services_tom_gSignIN.json
app/google-services_tom_analytics.json
app/google-services_hendry.json
app/src/androidTest/
app/src/test/
